/*
 body background - #ecf0f1
 font-family: 'Open Sans', sans-serif;
 cookie image is linked, but feel free to use your own if you want!
 (card) box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.22);
*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.image {
    /* border: 2px solid red; */
    /* background-color: #fa6666; */
    background-image: url("/images/cookies.jpg");
    background-position:0vh;
    background-size: 100%;
    
    /* background-size: cover; */
    width: 100%;
    height: 500px;

}

.cookie-type {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

h1 {
    font-size: 2.5em;
    font-weight: bolder;
    margin-bottom: 5px;
}

h3 {
    font-style: italic;
    margin-top: 0px;
}

.copy {
    /* border: 2px solid red; */
    height: 600px;
    display: flex;
    flex-direction: row;
    
}

.ingredients-section {
    /* border: 2px solid red; */
    /* background-color: grey; */
    font-size: 1.2em;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px 0px 0px 30px;
}

.directions-section {
    /* border: 2px solid red; */
    position: absolute;
    left: 600px;
    font-size: 1.2em;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 10px 0px 0px 30px;
}

.steps {
    font-style: i;
}

.rightBox-instructions {
    margin: 0px 0px 20px 0px;
    font-weight: 700;
}
